<nav class="navbar navbar-expand-lg fixed-top pink" >
  <a class="nav-link" href="{% url 'about' %}">Yumm Bite</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="navbar-brand" href="{% url 'index' %}">Place Order</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <a href="" class="nav-item nav-link">Contact</a>
    </ul>
  </div>
</nav>